*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: 'varsity_regular';
    src: url('/font/varsity_regular.ttf');
}

@font-face{
    font-family: 'Academy';
    src: url('/font/Academy.ttf');
}

@font-face{
    font-family: 'AcademyFilled3D';
    src: url('/font/AcademyFilled3D.ttf');
}

@font-face{
    font-family: 'SF-Pro-Display-Light';
    src: url(font/SF-Pro-Display-Light.otf);
    
}

@font-face{
    font-family: 'SF-Pro-Text-Light';
    src: url(font/SF-Pro-Text-Light.otf);

}

@font-face{
    font-family: 'SFUIText-Regular';
    src: url(font/SFUIText-Regular.otf);

}




:root{
    /* blue */
--dark-blue:   #053C5E;
--blue-shade1: #1D3958;
--blue-shade2: #353652;
--blue-shade3: #4C334D;
--blue-shade4: #643047;

/* red */
--dark-red:   #7C2E41;
--red-shade1: #942B3B;
--red-shade2: #AB2836;
--red-shade3: #C32530;
--red-shade4: #DB222A;

/* ** */
--white: #FFFFFF;
--linear: #FF0066;
--footer-dark-blue: #052A41;
--black: #000000;
--gradient-pj-1: #B05B4A;
--gradient-pj-2: #942B3B;


/* fonts */
--code: "Secret Code";
--scholar: 'varsity_regular';
--academy: 'Academy';
--academy-filled: 'AcademyFilled3D';
--coco: 'COCOGOOSE';
--apple: 'SF-Pro-Display-Light';
--apple-bold: 'SF-Pro-Text-Light';
--apple-bolder: 'SFUIText-Regular';
/* style */
--padding10: 10px;
--default-font-size: 30pt;
--two2pt: 2pt;
--four4pt: 4pt;
--six6pt: 6pt;
--eight8pt: 8pt;
--font-content-web: 18pt;
--font-content-mobile: 12pt;

--pos: 0px;
}

body {
    font-size: var(--default-font-size);
    font-weight: bolder;
    font-family: var(--apple);
    background: var(--dark-blue) ;
    color: white;   
    height: fit-content;
}



nav{
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 2px solid black;
}

main{

}



.nav-container{
width: 100%;
height: 100%;
align-content: center;
display: flex;
border: 2px solid red;
}

.name{
    flex: 1;
}

.front{
    width: 100%;
    height: 400px;
    background: var(--dark-blue);
}
.front__greet{
    border: 2px solid black;
    height: 100%;
    text-align: center;
}

.front__greet span{
    border: 2px solid black;
    position: relative;
    top: 30%;
    font-size: 3em;
}
.svgwave1{
    height: 50px;
    width: 100%;
}
.introduction{
    width: 100%;
    height: 520px;
   
    background: white;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.introduction__text{
    color: var(--black);
    font-size: calc(var(--default-font-size) - var(--eight8pt));
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid var(--dark-blue);
    margin-top: 2em;
}

.introduction__define{
    width: 90%;
    height: fit-content;
    color: var(--black);
    text-align: center;
}

.introduction__define p{
    font-size: calc((var(--default-font-size) - 16pt));
}

.experience{
    color: var(--black);
    width: 750px;
    text-align: center;
}
.experience .__text{
    border-bottom: 2px solid var(--dark-blue);
}

.icons{
    width: 100%;
    border: 2px solid red;
    z-index: 20;
    margin-top: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icons .item{
   width: 100px;
   height: 100px;
   object-fit: contain;
   
}


.projects{
    width: 100%;
    height: 100%;
    max-height: fit-content;
    z-index: 10;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    background: rgb(176,91,74);
    background: linear-gradient(to bottom, rgba(176,91,74,1) 0%, rgba(148,43,59,1) 50%, rgba(5,60,94,1) 100%); 
    }

.content{
    width: 100%;
    height: fit-content;
    border: 2px solid black;
    justify-content: center;
    display: flex;
    
}


.content .__header{
   font-size: calc((var(--default-font-size) - var(--eight8pt)));
    border: 2px solid red;
    height: fit-content;
    width: 100%;
    text-align: center;
}
.content .__text{
    width: 40%;
    border: 3px solid green;
    min-width: fit-content;
    font-size: var(--font-content-web);
}


.card{
    width: 90%;
    max-width: 1500px;
    height: 700px;
    background: white;
    border-radius: 10px;
    align-self: center;
    padding: var(--padding10);
    color: var(--black);
}

.qrcode{
    display: grid;
    grid-template-rows: 13% 15% 50% 22%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "upper stack" 
    "second stack"
    "second explanation"
    "link explanation";
    font-size: clamp(12pt, 1.65vw, 16pt);
}

.upper{
grid-area: upper;
border: 2px solid black;
display: flex;
}
.upper .left{
display: flex;
border: 2px solid green;
width: 100%;
height: 100%;
align-items: flex-end;
}
.upper .left img{
    width: 80px;
    border: 2px solid black;
    border-radius: 12px;    
}
.prj-name{
    border: 2px solid black;
    height: fit-content;
    width: 100%;
    text-align: center;
    flex: 1;
}




.stack{
    grid-area: stack;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}
.stack-text{
    width: 100%;
    border: 2px solid green;
    height: 85px;
}

.second{
grid-area: second;
border: 2px solid black;
display: grid;
place-items: center;
}
.device-img{
    background: url(/assets/desktop-qr.png) no-repeat;
    width: 100%;
    max-width: 650px;
    height: 100%;
    background-position: center;
    background-size: 70%;
}

.explanation{
grid-area: explanation;
border: 2px solid black;
}
.link{
    grid-area: link;
    border: 2px solid black;
}


/* svg */

.svgwave2{
    width: 100%;
    z-index: 12;
}



footer{
    background: var(--footer-dark-blue);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}


/* !svg */

@media only screen and (max-width: 968px){
    
    .concept h2{
        
        justify-self: center;
    }
    .stack-upper h2 {
        font-size: 100%;
    }
    .stackframes img{
        width: 30%;
    }

    .par{
       border: 5px solid red;
       height: 60%;
    }
}

@media only screen and (max-width: 750px){
    body{
        min-width: 320px;
    }
    
    .burger{
        width: 50px;
        height: 100%;
        background: url(/assets/burgerwhite.png) no-repeat;
        background-size: 45px;
        background-position: center;
        cursor: pointer;
    }

    .front{
    height: 300px;   
    }
    .front__greet{
        text-align: left;
    }
    .front__greet span {
        font-size: 1.7em;
    }

    .introduction__text h1{
        letter-spacing: 2px;
    }
    .icons .item{
        width: 60px;
    }

    .content .__text{
        font-size: 20px;
        width: fit-content;
        margin-top: 20px;
    }

    /* .card{
        width: 95%;
    } */
    
  
    .qrcode{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 25% 30% 20% 15%;
        grid-template-areas: 
        "upper upper"
        "second explanation"
        "second explanation"
        "stack stack"
        "link link"
        ;
    }

    .second{
        max-width: 300px;
    }
    .device-img{
        width: 100%;
        height: 100%;
        background: url(/assets/iphone-cover.png) no-repeat;
        background-position: center;
        background-size: 100%;
        max-width: 190px;
    }

    .upper .left img{
        width: 60px;
    }

    .upper .left{
        width: 100%;
    }
    .upper .right{
        display: none;
    }

}